Week5/Web References/RegService/RegisterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegisterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Week5Service/RegisterService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Week5Service/RegisterService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegisterService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IRegisterService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IRegisterService_AccountExists_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountExists" />
  </wsdl:message>
  <wsdl:message name="IRegisterService_AccountExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IRegisterService_GeneratePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePassword" />
  </wsdl:message>
  <wsdl:message name="IRegisterService_GeneratePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegisterService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegisterService/Register" message="tns:IRegisterService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegisterService/RegisterResponse" message="tns:IRegisterService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegisterService/AccountExists" message="tns:IRegisterService_AccountExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegisterService/AccountExistsResponse" message="tns:IRegisterService_AccountExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeneratePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegisterService/GeneratePassword" message="tns:IRegisterService_GeneratePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegisterService/GeneratePasswordResponse" message="tns:IRegisterService_GeneratePassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegisterService" type="tns:IRegisterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IRegisterService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountExists">
      <soap:operation soapAction="http://tempuri.org/IRegisterService/AccountExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePassword">
      <soap:operation soapAction="http://tempuri.org/IRegisterService/GeneratePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegisterService">
    <wsdl:port name="BasicHttpBinding_IRegisterService" binding="tns:BasicHttpBinding_IRegisterService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Week5Service/RegisterService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>