Week5/Web References/UsService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Week5Service.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Week5Service.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductItem" nillable="true" type="tns:ProductItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductItem" nillable="true" type="tns:ArrayOfProductItem" />
  <xs:complexType name="ProductItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductItem" nillable="true" type="tns:ProductItem" />
</xs:schema>